body {
    background-color: rgba(0, 0, 0, 0.427);
}

* {
    box-sizing: border-box;
}


.container{
    margin: 15px auto;
    max-width: 400px;
    gap: 5px;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}

h2{
    text-align: center;
}

.initial-points-wrapper{
    width: 100%;
    gap: 5px;
}

.old-point-wrapper {
    width: 100%;
}

.input-point{
    max-width: 60%;
    padding: 3px;
}

.input-point-label {
    max-width: 40%;
    margin-right: 5px;
}

.flex-gap{
    gap: 5px
}

#match-result-wrapper{
    max-width: 100%;
    gap: 10px;
}

.options-button{
    background-color: rgba(160, 150, 150, 0.817);
    cursor: pointer;
    border: 1px solid;
    max-width: 100%;
    height: 35px;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.options-button span{
    max-width: 100%;
    height: 100%;
}

.select-box {
    width: 100%;
    position: relative;
}

.options-container {
    background-color: white;
    display: none;
    font-size: 16px;
}

.options-container .option-item {
    padding: 5px;
}

.options-container .option-item:hover{
    background-color: rgb(14, 122, 211);
}

.options-container.active{
    max-width: 100%;
    position: absolute;
    bottom: 5px;
    z-index: 1;
    max-height: 160px;
    overflow-y: scroll;
    border: 1px solid black;
}

.submit-btn-wrapper button {
    max-width: 100px;
}

.result-wrapper.on{
    max-width: 100%;
    gap: 5px;
}

.result-wrapper {
    max-width: 100%;
    border: 1px solid gray;
    margin-top: 5px;
    padding: 5px;
}

.match-coeff-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    gap: 5px;
}

.match-expect-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    gap: 5px;
}

/* .match-expect-wrapper.off {
    display: none;
} */

.result-wrapper .new-point-wrapper .name{
    min-width: 33%;
}

.result-wrapper .new-point-wrapper .new-point{
    min-width: 33%;
}
