body {
    background-color: white;
}

* {
    box-sizing: border-box;
}


.container{
    margin: 20px auto;
    max-width: 500px;
    gap: 15px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(188, 210, 60);
    font-size: 14px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    max-width: 80%;
}

.input-point-wrapper {
    width: 100%;
}

.input-point-wrapper>div {
    width: 20%;
}

.input-point-wrapper>div.country-wrapper {
    width: 40%;
    position: relative;
}

.input-point-wrapper>div:nth-child(3) {
    width: 40%;
}

.input-point-wrapper input{
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid;
}

ul.team-a, ul.team-b {
    display: none;
}

ul.country-list {
    list-style: None;
    padding: 0px;
    background-color: white;
    position: absolute;
    top: 32px;
    width: 100%;
    max-height: 100px;
    z-index: 5;
    border: 1px solid black;
    overflow-y: scroll;
}

ul.country-list li {
    padding: 3px 5px;
    cursor: pointer;
}

ul.country-list li:hover {
    background-color: rgb(0, 128, 255);
}

.flex-gap{
    gap: 5px
}

.match-result-wrapper{
    width: 100%;
    gap: 10px;
}

.match-result-wrapper>div:nth-child(1){
    width: 30%;
}

.match-result-wrapper>div:nth-child(2){
    width: 30%;
}

.match-result-wrapper>div:nth-child(3){
    width: 40%;
}

.select-box-wrapper {
    width: 100%;
    position: relative;
}

#match-categories{
    width: 100%;
    height: 30px;
    /* font-size: 14px; */
}

.btn-wrapper {
    width: 100%;
}

.btn-wrapper button {
    max-width: 100px;
    max-height: 50px;
    font-size: 16px;
}

.result-wrapper {
    width: 100%;
    border: 1px solid gray;
    margin-top: 5px;
    padding: 10px;
    gap: 5px;
    background-color: white;
}

.result-wrapper>div:nth-child(1) {
    width: 30%;
    gap: 5px;
}

.new-point-wrapper {
    width: 35%;
    gap: 5px;
}

.diff-point-wrapper {
    width: 35%;
    gap: 5px;
}

.match-expect-wrapper {
    width: 100%;
}

.match-expect-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    /* gap: 5px; */
}
