* {
    box-sizing: border-box;
}


.container{
    margin: 80px auto;
    max-width: 600px;
    min-width: 360px;
    min-height: 480px;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(192, 205, 50);
}

div h2{
    text-align: center;
}

.input-point{
    /* max-width: 300px; */
    min-width: 100px;
}

.flex-gap{
    gap: 5px
}

#match-result-wrapper{
    gap: 10px;
}

.select-box{
    gap: 10px;
}

.select-box .options-button{
    background-color: grey;
    cursor: pointer;
}

.options-container{
    background-color: white;
    /* max-height: 0; */
    /* opacity: 0; */
    display: none;
    gap: 10px;
}

.options-container .option-item:hover{
    background-color: rgb(0, 166, 255);
}

.options-container.active{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 10px;
    max-height: 120px;
    opacity: 1;
    overflow-y: scroll;
    border: 1px solid;
}